<div class="container">
    <h1 class="card-header p-4">{{ group.name }}</h1>
    <mat-tab-group>
        <mat-tab label="Users">
            <app-users-list [group]="group" [users]="users" [user]="user"></app-users-list>
        </mat-tab>
        <mat-tab label="Expenses">
            <app-expenses-list [group]="group" [expenses]="expenses" [user]="user" (onAddExpense)="onAddExpense($event)"></app-expenses-list>
        </mat-tab>
        <mat-tab label="Payments">
            <app-payments-list [group]="group" [payments]="payments" [user]="user" [users]="users"></app-payments-list>
        </mat-tab>
    </mat-tab-group>
</div>