<div class="container">
    <h1 class="card-header p-4">{{ group.name }}</h1>
    <mat-tab-group>
        <mat-tab label="Users">
            <app-users-list [group]="group" [users]="users" [user]="user"></app-users-list>
        </mat-tab>
        <mat-tab label="Expenses">
            <app-expenses-list [group]="group" [expenses]="expenses" [user]="user"></app-expenses-list>
        </mat-tab>
        <mat-tab label="Payments">
                <div class="list-group my-2">
                        <div *ngFor="let payment of payments">
                            <div class="list-group-item list-group-item-action m-2 w-auto">
                                <div class="d-flex justify-content-between">
                                    <h3 class="d-inline"> {{ payment.description }} </h3>
                                    <h3 class="d-inline" 
                                        [ngClass]="{
                                            'text-danger': payment.byUser === user.name,
                                            'text-success': payment.forUser === user.name
                                        }"> {{ payment.amount }} </h3>
                                </div>
                                <div class="d-flex justify-content-between">
                                    <p class="my-0">
                                        from {{payment.byUser === user.name ? "You" : payment.byUser}} to {{payment.forUser === user.name ? "You" : payment.forUser}} at {{payment.time | date:'dd.MM.yyyy HH:mm'}}
                                    </p>
                                    <div *ngIf="payment.forUser===user.name">
                                        <button class="btn btn-primary btn-success py-0" [disabled]="payment.confirmed" (click)="confirmPayment(payment.id)">Confirm</button>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
        </mat-tab>
    </mat-tab-group>
</div>