<div class="container">
    <form class="form-inline mt-2" [formGroup]="addUserForm" (ngSubmit)="addUser(addUserForm.value)">
        <div class="form-group mx-sm-3" >
            <input class="form-control"
                [ngClass]="{'border': addUserError, 'border-danger': addUserError}" 
                type="text" 
                formControlName="name"
                class="form-control" 
                placeholder="Name"
                (input)="onAddUserFormChange()">
        </div>
        <button [disabled]="addUserForm.invalid || addUserError" type="submit" class="btn btn-primary"> Add user </button>
    </form>
    <div *ngIf="alreadyInGroup">
        <p class="ml-3 text-danger mb-0">This user is already in group!</p>
    </div>
    <div *ngIf="userNotExistsOnAdd">
        <p class="ml-3 text-danger mb-0">This user doesn't exist!</p>
    </div>
    <div class="list-group my-2 overflow-auto" style="height: 60vh;">
        <div *ngFor="let user of users">
            <div class="list-group-item list-group-item-action m-2 w-auto d-flex justify-content-between">
                <h3 class="d-inline"> {{ user.name }} </h3>
                <h3 class="d-inline" 
                    [ngClass]="{
                        'text-danger': user.balance < 0, 
                        'text-warning': user.balance === 0,
                        'text-success': user.balance > 0
                    }"> {{ user.balance }} </h3>
            </div>
        </div>
    </div>
</div>