# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio 2015 cache/options directory
.vs/

*.obj
*.pdb
*.tmp
*.orig
*.log
*.dll

# Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

# SQL Server files
*.mdf
*.ldf

dist/
packages/
node_modules/
.idea/
