<div class="container h-75">
    <div class="row justify-content-center align-items-center h-100">
        <aside class="col-sm-4">
            <div class="card">
                <article class="card-body">
                    <h4 class="card-title mb-4 mt-1 text-center">Sign in</h4>
                    <form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
                        <div class="form-group">
                            <input id="name" type="text" formControlName="name" class="form-control" placeholder="Name">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-block"> Login </button>
                        </div> <!-- form-group// -->                                                           
                    </form>
                </article>
            </div> <!-- card.// -->
        </aside> <!-- col.// -->
    </div> <!-- row.// --> 
</div> 