<div class="container">
    <h1 class="card-header p-4">
        Groups
    </h1>
    <div class="list-group my-2">
        <div *ngFor="let group of groups">
            <a class="list-group-item list-group-item-action m-2 w-auto" routerLink="/group/{{group.id}}">
                <h3>{{ group.name }}</h3>
            </a>
        </div>
    </div>
    <div class="row justify-content-center">
        <aside class="col-sm-4 mt-1">
            <a class="nav-link" routerLink="/new-group">
                <button class="btn btn-primary btn-block"> New group </button>
            </a>
        </aside>
    </div>
</div>